<nav class="navbar">
  <div class="navbar-wrapper">
    <div><a href="" class="itemLast" [routerLink]="[ '/tasklist' ]">Last works >>></a></div>
    <ul class="list">
        <li class="list-item">
        <a class="list-item-text" [routerLink]="[ '/cenzor' ]" routerLinkActive="active" [ngClass]="{'active': activeTab === 'cenzor'}" (click)="active('cenzor')">Cenzor</a>
      </li>
        <li class="list-item">
        <a class="list-item-text" [routerLink]="[ '/userslist' ]" routerLinkActive="active" [ngClass]="{'active': activeTab === 'users'}" (click)="active('users')">Users</a>
      </li>
        <li class="list-item"> 
        <a class="list-item-text" [routerLink]="[ '/tasklist' ]" routerLinkActive="active" [ngClass]="{'active': activeTab === 'task'}" (click)="active('task')">Task</a>
      </li>
    </ul>
    <div class="itemHome-wrapper"><a href="" class="itemHome" [routerLink]="[ '/home' ]">Back to >>> Home</a></div>
  </div>
</nav>
