<div class="container">
  <ul class="works-list">
    <li class="works-item">
      <img src="../assets/first work.png" alt="first work" class="works-item-img">
      <p class="works-item-title">Angular list of prohibited words</p>
      <div class="works-item-btnWrapper">
        <a class="works-item-btn" [routerLink]="[ '/cenzor' ]">Details</a>
        
      </div>
    </li>
    <li class="works-item">
      <img src="../assets/second work.png" alt="second work" class="works-item-img">
      <p class="works-item-title">Angular task list</p>
      <div class="works-item-btnWrapper">
        <a class="works-item-btn" [routerLink]="[ '/userslist' ]">Details</a>
      </div>
    </li>
    <li class="works-item">
      <img src="../assets/third work.png" alt="third work" class="works-item-img">
      <p class="works-item-title">Angular user list</p>
      <div class="works-item-btnWrapper">
        <a class="works-item-btn" [routerLink]="[ '/tasklist' ]">Details</a>
      </div>
    </li>
  </ul>
</div>

